{% extends "app/layout.html" %}
    {% block head %}
    <title>Haqqımda</title>
    {% endblock %}
    {% block content %}
    <div class="info">
        <h1 style="font-size: 18px;" class="header-font first-header">// Salam, adım Nicatdır!</h1>
        <p style="color: #caa050;" class="main-info main-font">"""Artıq yarım ilə yaxındır ki, sistematik şəkildə proqramlaşdırma ilə məşğulam. Veb proqramlaşdırma sahəsində əsasən Back-End və verilənlər bazası istiqamətində özümü inkişaf etdirməyə çalışıram və bu inkişaf müddətində öyrəndiyim texnologiyalar, hazırladığım layihələr, yazdığım məqalələrdən maraqlı hesab etdiklərimi burada paylaşmağa çalışıram. Sayta nəzər yetirməklə bütün bunlarla daha yaxından tanış ola bilərsiniz."""
            
            </p>
        {% if infoList %}
        <h3 style="color: white;font-size: 18px;" class="additional-info-list main-font">Həmçinin...</h3>
        <ol class="main-font" start="1">
            {% for info in infoList %}
            <li>{{ info.info }}</li>
            {% endfor %}
        </ol>
        {% endif %}
    </div>
    <div class="section">
        <h3 class="header-font first-header">// İstifadə etdiyim texnologiyalar&shy</h3>
        {% for tech in techs %}
        <div class="technology">
                <h4 style="color: #51a4d0;" class="header-font second-header">{{ tech.name }}(<span>{{ tech.superTech }}</span>):</h4>
                <div class="tech-inside">
                    <p class="main-font">istifadə_vəziyyəti(<span>"{{ tech.usageCase }}"</span>)</p>
                    <p class="main-font">tədrisə_başlama_tarixi(<span>"{{ tech.startDate.strftime("%d/%m/%y") }}"</span>)</p>
                    {% if tech.finishDate %}
                    <p class="main-font">tədrisin_bitmə_tarixi(<span>"{{ tech.finishDate.strftime("%d/%m/%y") }}"</span>)</p>
                    {% else %}
                    <p class="main-font">tədrisin_bitmə_tarixi(<span>"Öyrənməyə hələ çox şey var..."</span>)</p>
                    {% endif %}
                    <p class="main-font">mənbələr({% for i in range(tech.sources|length) %}<span>"{{ tech.sources[i].name }}"</span>, {% endfor %})</p>
                        
                    {% if tech.tasks %}
                    <p class="main-font">Bu dövr ərzində görülmüş işlər:</p>
                    <ol class="main-font">
                        {% for task in tech.tasks %}
                        <li><a href="{{ task.url }}" target="_blank">{{ task.name }}</a></li>
                        {% endfor %}
                    </ol>
                    {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if reviews %}
    <div class="section reviews">
        <h3 class="header-font first-header">// Haqqımda bildirilən rəylər</h3>
        <div class="comments-container">
            <div class="comments">
                {% for review in reviews %}
                    <div class="comment">
                        <p style="color: #caa050;" class="comment-content main-font">"""{{ review.review }}"""</p>
                        <h5 class="comment-owner main-font">{{ review.review_owner }}</h5>
                        <h6 class="owner-profession main-font">{{ review.owner_profession }}</h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block js %}
    <script src="../../static/js/app/home.js"></script>
    {% endblock %}