<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/app/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    {% block additional %}{% endblock %}
    <div class="container-full">
        <div class="container">
            <header class="main-header">
                <div class="main-navbar navbar main-font">
                    <ul>
                        <li><a href="{{ url_for('index') }}">haqqımda</a></li>
                        <li><a href="{{ url_for('works') }}">işlərim</a></li>
                        <li><a href="{{ url_for('blogs') }}">məqalələrim</a></li>
                        <li><a href="{{ url_for('contact') }}">əlaqə</a></li>
                    </ul>
                </div>
                <i onclick="showMenu()" class="fas fa-bars"></i>
            </header>
            <header class="responsive-header">
                <div style="width: 100%;" class="navbar main-font">
                    <ul style="justify-content: space-around; padding: 20px 0;">
                        <li><a href="{{ url_for('index') }}">haqqımda</a></li>
                        <li><a href="{{ url_for('works') }}">işlərim</a></li>
                        <li><a href="{{ url_for('blogs') }}">məqalələrim</a></li>
                        <li><a href="{{ url_for('contact') }}">əlaqə</a></li>
                    </ul>
                </div>
            </header>
            <div class="main-part">
                {% block content %}{% endblock %}
            </div>
            {% block footer %}
            <footer class="main-font">
                <span style="color: #3b994f;" class="lets-chat">// Gəlin danışaq!</span>
                <div class="footer-contact">
                    <p>elektron_poçt(<span>"nijatshj@code.edu.az"</span>)</p>
                    <p>whatsapp(<span>"+99455-415-23-12"</span>)</p>
                    <p>github(<span><a style="color: #3b994f;text-decoration:none" href="https://github.com/nijatjafarov" target="_blank">"github.com/nijatjafarov"</a></span>)</p>
                </div>
            </footer>
            {% endblock %}
        </div>
    </div>
    {% block js %}{% endblock %}
</body>
</html>