{% extends "admin/layout.html" %}
{% block content %}
<h3>Layihənin texnologiyasını redaktə et</h3>
<form method="POST">
    <div class="form-group">
        <label for="project_id">Layihə</label>
        <select class="form-control" id="project_id" name="project_id">
            {% for project in projects %}
            {% if project == selected_project %}
                <option value="{{ project.id }}" selected>{{ selected_project.name }}</option>
            {% else %}
                <option value="{{ project.id }}">{{ project.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="technology_id">Texnologiya</label>
        <select class="form-control" id="technology_id" name="technology_id">
            {% for technology in technologies %}
            {% if technology == selected_technology %}
                <option value="{{ technology.id }}" selected>{{ selected_technology.name }}</option>
            {% else %}
                <option value="{{ technology.id }}">{{ technology.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
      </div>
    <button type="submit" class="btn btn-primary mb-2">Dəyişiklik et</button>
</form>
{% endblock %}